# Sqlite db, user by default
# Main db settings, sqlite
DB_ADAPTER=sqlite
DB_NAME=./data/sqlite.db

# Test db
TEST_DB_ADAPTER=sqlite
TEST_DB_NAME=./data/test.db

USE_PHP_INTERNAL_SERVER=1
ENABLE_XDEBUG=1

# Main db settings, mysql example
#DB_ADAPTER=mysql
#DB_HOST=localhost
#DB_USER=root
#DB_PASSWORD=1
#DB_NAME=mydb
